---
// import Sidebar from "./sidebar.astro";
const { title } = Astro.props;
const links = [
  {
    path: "./extract-urls",
    label: "Extract URLs",
  },
];
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex">
      <aside class="bg-surface3 w-col-span-3 h-screen p-24">
        <h2 class="typography-20">tools</h2>
        <ul class="list-disc">
          {
            links.map(({ path, label }) => (
              <li class="ml-24">
                <a
                  href={path}
                  class="typography-16 text-link1 hover:text-link1-hover active:text-link1-press focus:text-link1-outline"
                >
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
      </aside>
      <main class="w-full p-24">
        <h1 class="typography-32">{title}</h1>
        <slot />
      </main>
    </div>
  </body>
</html>
